body
{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: #000;
    box-sizing: border-box;
}
header
{
    padding: 10px;
}
div
{
    display: inline-block;
    
}
header.logo
{
    padding: 0px;

}
header.fonts
{
    padding-top: 10px;
    margin-top: 10px;
    padding: 0px;
    position: relative;
}

section
{
    width: 100%;
    height: 100vh;
}
section.sec1
{
    background: url('..\\WebPhotos\\logo.png');
    background-size: cover;
}
section.sec2
{
padding: 100px;
box-sizing: border-box;
height: auto;
}
section.sec2 h2
{
    font-size: 3em;
    margin: 0;
    padding: 0 0 20;
    color: #fff;
}
section.sec2 p
{
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: #fff;
}
section.sec3
{
    background: url('..\\WebPhotos\\blackjack.jpg');
    background-size: cover;
    overflow: auto;
}